header {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: white;

    .container-header {
        width: 100%;
        padding: 20px;

        .box-img {

            img {
                width: 200px;
            }
        }

        .box-main-nav {
            ul {
                li {
                    padding-top: 15px;

                    .dropdown-pages,
                    .dropdown-shop {
                        display: none;
                        position: absolute;
                        top: 95px;
                        background-color: black;

                        .shop-links {
                            position: relative;
                        }

                        .shop-links:hover .dropright {
                            display: block;
                        }

                        .dropright {
                            display: none;
                            position: absolute;
                            left: 100%;
                            background-color: black;

                            >* {
                                cursor: pointer;
                            }
                        }
                    }

                    &:nth-child(3):hover .dropdown-pages,
                    &:nth-child(7):hover .dropdown-shop {
                        display: block;
                    }

                    a {
                        text-decoration: none;
                        padding-left: 20px;
                        padding-right: 20px;
                        padding-bottom: 40px;
                        text-transform: uppercase;
                        color: black;
                        font-size: 15px;
                        font-weight: bold;
                    }

                }

            }
        }

        .box-links {
            >* {
                &:last-child {
                    margin-right: 0;
                }

                a {
                    text-decoration: none;
                    color: black;
                    padding: 15px;
                }
            }

            .search-button {
                background-color: white;
            }

            .offcanvas,
            .bg-special {
                background-color: black;
                opacity: 0.8;
            }
        }
    }
}